.first-box-container {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: red;
}

.second-box-container {
  position: absolute;
  margin-left: 300px;
  width: 200px;
  height: 100px;
  background-color: yellow;
}

.third-box-container {
  position: absolute;
  margin-left: 600px;
  width: 200px;
  height: 100px;
  background-color: green;
}
